<h2><%= review.title %></h2>
<div>Average rating: <span class="avg-rating"><%= number_to_percentage(review.average_rating, precision: 0) %></span></div>
<div>
  <%= render partial: "rating", locals: { ratable: review } %>
  <p><%= review.content %></p>
</div>
<p>reviewed by <%= review.user.username %></p>
<section class="panel panel-info" id="comments">
    <div class="panel-heading">
      <h3 class="panel-title">Comments</h3>
    </div>
<div id="review-comments-<%= review.id %> comment-listing">
  <% review.comments.each do |comment| %>
    <div>
      <p id="comment-content"><%= comment.content %></p>
      <p class="text-info" id="user-commented">commented by <%= comment.user.username %></p>
    </div>
  <% end %>
</div>
