<h2><%= review.title %></h2>
<div>Average rating: <span class="avg-rating"><%= review.average_rating %></span></div>
<div>
  <p><%= review.content %></p>
</div>
<p>reviewed by <%= review.user.username %></p>
<h4>Comments</h4>
<% review.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p>commented by <%= comment.user.username %></p>
<% end %>