<div id="video">
    <div class="fullscreen-bg">
        <%= video_tag("GasFlames.mov", autoplay: true, loop:true) %>
        <div id="overlay">Get comfy, rant about movies.</div>
    </div>
</div>
<section class="panel panel-primary" id="top-films">
  <div class="panel-heading">
    <h3 class="panel-title">Top Ten Movies</h3>
  </div>
  <ul id="list-frame">
    <% @movies.each do |movie| %>
      <li class="list-inline" id="top-movie"><%= image_tag movie.image_url, id: "movie-preview-img", size: "50x50"%>
      <div id="movie-link"><%= link_to(movie.title, movie_path(movie)) %> (Avg Rating: <%= number_to_percentage(movie.average_rating, precision: 0) %>)</div></li>
    <% end %>
  </ul>
</section>
<section class="panel panel-primary" id="recent-reviews">
  <div class="panel-heading">
    <h3 class="panel-title">Most Recent Reviews</h3>
  </div>
<ul id="list-frame">
<% @reviews.each do |review| %>
<li class="list-inline panel-body" id="review<%= review.id %>"><%= review.title %><br>Review of <%= link_to(review.movie.title, movie_path(review.movie)) + " by " %><%= review.user.username %></li>
<% end %>
</ul>
</section>
<section class="panel panel-primary" id="pop-genres">
  <div class="panel-heading">
    <h3 class="panel-title">Most Popular Genres</h3>
  </div>
  <ul id="list-frame genre-list">
<% @genres.each do |genre| %>
<li class="list-inline panel-body"><%= link_to(genre.title_case, genre_path(genre))%></li>
<% end %>
</ul>
</section>
