<div>
  <section class="ratable"><%= image_tag @movie.image_url %></a></div>
  <div>
    <h3><%= @movie.title %></h3>
    <p>Average Rating: <span class="avg-rating"><%= @movie.average_rating %></span></p>
    <p>Release Year: <%= @movie.release_year %></p>
    <p>Genres: <% @movie.genres.each do |genre| %>
      <%= link_to(genre.title_case, genre_path(genre))%> ||
      <% end %></p>
    <div>
      <p><%= @movie.synopsis %></p>
    </div>
  </section>

  <%= render partial: "rating", locals: { ratable_type: "Movie" , ratable_id: @movie.id } %>

  <section>
    <div id="movie-reviews">
      <h3>Trusted Movie Reviews</h3>
      <% @movie.trusted_reviews.each do |review| %>
      <div class="ratable">
        <%= render partial: "review", locals: { review: review } %>
        <%= render partial: "rating", locals: { ratable_type: "Review" , ratable_id: review.id } %>

        <% if logged_in? %>
          <%= form_for [@movie, review, @comment], :html => { :class => "review-comment" } do |f| %>
            <%= f.hidden_field :review_id, :value => "#{review.id.to_s}" %>
            <%= f.text_area :content, placeholder: "write comment" %>
            <%= f.submit %>
          <% end %>
          <div class="error-message"></div>
        <% end %>

      </div>
      <% end %>
      <h3>Other Movie Reviews</h3>
      <% @movie.untrusted_reviews.each do |review| %>
      <div class="ratable">
        <%= render partial: "review", locals: { review: review } %>
        <%= render partial: "rating", locals: { ratable_type: "Review" , ratable_id: review.id } %>

          <% if logged_in? %>
          <%= form_for [@movie, review, @comment], :html => { :class => "review-comment" } do |f| %>
            <%= f.hidden_field :review_id, :value => "#{review.id.to_s}" %>
            <%= f.text_area :content, placeholder: "write comment" %>
            <%= f.submit %>
          <% end %>
        <% end %>

      </div>

      <% end %>
    </div>
    <% if logged_in? %>
      <div id="new-review">
          <%= form_for [@movie, @review], remote: true do |f|  %>
            <%= f.text_field :title  %>
            <%= f.text_area :content  %>
            <%= f.submit  %>
          <% end %>
      </div>
  <% end %>

    <% if flash[:notice] %>
      <%= flash[:notice]  %>
    <% end %>
  </section>

  <section>
    <h3>Movie Comments</h3>
    <div id="comment-listing">
      <% @movie.comments.each do |comment| %>
      <div>
        <p><%= comment.content %></p>
        <p>commented by <%= comment.user.username %></p>
      </div>
      <% end %>
    </div>

    <% if logged_in? %>
      <%= form_for [@movie, @comment], :html => { :id => "movie-comment" } do |f| %>
        <%= f.text_area :content, placeholder: "write comment" %>
        <%= f.submit %>
      <% end %>
    <% end %>

  </section>
</div>
