<article id="movie-show">
  <section class="ratable panel panel-info" id="movie-info">
    <%= image_tag @movie.image_url, id: "movie-img"%>
    <div id="movie-details">
      <div id="movie-title"><%= @movie.title %></div>
        <p class="panel-info">Average Rating: <span class="avg-rating"><%= number_to_percentage(@movie.average_rating, precision: 0) %></span></p>
        <%= render partial: "rating", locals: { ratable: @movie } %>
        <p>Release Year: <%= @movie.release_year %></p>
        <p>Genres: <% @movie.genres.each do |genre| %>
          <%= link_to(genre.title_case, genre_path(genre), class: "btn btn-default")%>
        <% end %></p>
        <%= @movie.synopsis %>

    </div>
  </section>

  <section class="panel panel-info" id="comments">
    <div class="panel-heading">
      <h3 class="panel-title">Movie Comments</h3>
    </div>

    <% if logged_in? %>
      <div class="panel-body" id="comment-listing">
        <%= form_for [@movie, @comment], :html => { :id => "movie-comment" } do |f| %>
          <%= f.text_area :content, placeholder: "write comment" %>
          <%= f.submit %>
        <% end %>
      </div>
    <% end %>
  <div id="comments-left">
      <% @movie.comments.each do |comment| %>
      <div class="panel-body" id="comment-listing">
        <p id="comment-content"><%= comment.content %></p>
        <p class="text-info" id="user-commented">commented by <%= comment.user.username %></p>
      </div>
      <% end %>
    </div>
  </section>

  <section>
    <div id="movie-reviews">
      <h3>Trusted Movie Reviews</h3>
      <% @movie.trusted_reviews.each do |review| %>
      <div class="ratable">
        <%= render partial: "review", locals: { review: review } %>
        <% if logged_in? %>
          <%= form_for [@movie, review, @comment], :html => { :class => "review-comment" } do |f| %>
            <%= f.hidden_field :review_id, :value => "#{review.id.to_s}" %>
            <%= f.text_area :content, placeholder: "write comment" %>
            <%= f.submit %>
          <% end %>
        <% end %>

      </div>
      <% end %>
      <h3>Other Movie Reviews</h3>
      <% @movie.untrusted_reviews.each do |review| %>
      <div class="ratable">
        <%= render partial: "review", locals: { review: review } %>
          <% if logged_in? %>
            <%= form_for [@movie, review, @comment], :html => { :class => "review-comment" } do |f| %>
              <%= f.hidden_field :review_id, :value => "#{review.id.to_s}" %>
              <%= f.text_area :content, placeholder: "write comment" %>
              <%= f.submit %>
            <% end %>
          <% end %>

      </div>

      <% end %>
    </div>
    <% if logged_in? %>
      <div id="new-review">
          <%= form_for [@movie, @review], remote: true do |f|  %>
            <%= f.text_field :title  %>
            <%= f.text_area :content  %>
            <%= f.submit  %>
          <% end %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <%= flash[:notice]  %>
    <% end %>
  </section>
</article>
</div>
