<div>
  <section><%= image_tag @movie.image_url %></a></div>
  <div>
    <h3><%= @movie.title %></h3>
    <p>Average Rating: <%= @movie.average_rating %></p>
    <p>Release Year: <%= @movie.release_year %></p>
    <p>Genres: <% @movie.genres.each do |genre| %>
      <%= link_to(genre.title_case, genre_path(genre))%> ||
      <% end %></p>
    <div>
      <p><%= @movie.synopsis %></p>
    </div>
  </section>

  <section>
    <div id="movie-reviews">
      <h3>Trusted Movie Reviews</h3>
      <% @movie.trusted_reviews.each do |review| %>
        <%= render partial: "review", locals: { review: review } %>
      <% end %>
      <h3>Other Movie Reviews</h3>
      <% @movie.untrusted_reviews.each do |review| %>
        <%= render partial: "review", locals: { review: review } %>
      <% end %>
  </div>
    <% if logged_in? %>
      <div id="new-review">
          <%= form_for [@movie, @review], remote: true do |f|  %>
            <%= f.text_field :title  %>
            <%= f.text_area :content  %>
            <%= f.submit  %>
          <% end %>
      </div>
  <% end %>


    <% if flash[:notice] %>
      <%= flash[:notice]  %>
    <% end %>
  </section>

  <section>
    <h3>Movie Comments</h3>
    <% @movie.comments.each do |comment| %>
    <div>
      <!-- add username -->
      <p><%= comment.content %></p>
    </div>
    <p>commented by <%= comment.user.username %></p>
    <% end %>
  </section>
</div>
