<!DOCTYPE html>
<html>
  <head>
    <title>CozyTime Reviews</title>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1><%= link_to("CozyTime Reviews", root_path)%></h1>
      <nav>
        <ul>
          <% if logged_in? %>
            <li>Welcome, <%= current_user.name %></li>
            <li><%= link_to("Logout", logout_path) %></li>
          <% else %>
            <li><%= link_to("Register", register_path)%></li>
            <li><%= link_to("Login", login_path)%></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
