<!DOCTYPE html>
<html>
  <head>
    <title>CozyTime Reviews</title>
    <%= stylesheet_link_tag 'app' %>
    <%= stylesheet_link_tag 'application' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <%= csrf_meta_tags %>rel
  </head>
  <body>
    <header>
      <h1><%= link_to("CozyTime Reviews", root_path)%></h1>
      <nav class="nav">
        <ul>
          <% if logged_in? %>
            <li>Welcome, <%= current_user.name %></li>
            <li><%= link_to("Logout", logout_path) %></li>
          <% else %>
            <li><%= link_to("Register", register_path)%></li>
            <li><%= link_to("Login", login_path)%></li>
          <% end %>
        </ul>
      </nav>
      <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q) %>
      <i class='icon-search'></i>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
